*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  --lib-bg-color: white;
  --lib-head-bg-color: #64748b;
  --book-bg-color: #e6e8f5;
  --lib-h1-color: white;
  --lib-border-color: white;
  --book-color: #9bb0e6;
  --search-border-color: gray;
  --search-color: gray;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

#library {
  width: 80%;
  background-color: var(--lib-bg-color);
  height: 80lvh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  text-align: center;
  box-shadow: var(--box-shadow);
}

#library .header {
  grid-area: 1/ 1/ 2/ 2;
  color: var(--lib-h1-color);
  background-color: var(--lib-head-bg-color);
}

#library .content {
  grid-area: 2/ 1/ 3/ 2;
  background-color: var(--lib-bg-color);
  border-right: 2px solid var(--lib-border-color);
  border-bottom: 2px solid var(--lib-border-color);
  border-left: 2px solid var(--lib-border-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
}
.books {
  border: 5px solid white;
  border-radius: 5%;
  background-color: var(--book-bg-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.books-icon svg {
  width: 40px;
  height: 40px;
}

.logo {
  display: flex;
  gap: 10px;
}

.search-box {
  width: 300px;
  border-radius: 13px;
  border: 1px solid transparent;
  padding: 2px 10px;
  outline: none;
  color: var(--search-color);
}

.search-box:focus {
  border-color: var(--search-border-color);
  outline: 1px solid var(--search-border-color);
}

button {
  color: white;
  background-color: var(--lib-head-bg-color);
  border: 1px solid white;
  line-height: 1.5;
  right: 20px;
  cursor: pointer;
  padding: 3px 10px;
}

button span {
  font-size: 13px;
}

::backdrop {
  background-color: white;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80lvh;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  box-shadow: var(--box-shadow);
}

fieldset {
  border: none;
}

legend {
  font-weight: bold;
  font-size: 25px;
  line-height: 2;
}

input {
  padding: 15px 5px 6px;
  margin: 10px 15px;
  width: 80%;
}

#add-book-container input:focus + label,
#add-book-container input[required]:valid + label,
#add-book-container input:not(:placeholder-shown) + label {
  display: block;
}

#add-book-container label {
  padding: 5px 0;
  font-size: clamp(7px, 1vw, 10px);
  left: 0;
  display: none;
  position: absolute;
  color: gray;
  z-index: 10;
  top: 10px;
  left: 23px;
}
:focus {
  outline: 0;
}

#add-book-container div[id^="input"] {
  position: relative;
  min-height: 1px;
  width: 100%;
}
#read-option {
  display: flex;
  align-items: center;
}

#read-option p {
  color: gray;
}

#read-option input {
  width: 20px;
}
